androguard==3.3.5
Appium_Python_Client==2.11.1
environment==1.0.0
imageio==2.9.0
langchain==0.0.222
loguru==0.5.3
networkx==2.8.8
numpy==1.22.4
openai==0.27.8
opencv_python_headless==4.5.4.60
packaging==21.3
pandas==1.3.3
scikit_learn==1.2.2
scrcpy==0.0.4
sentence_transformers==2.0.0
tensorflow==2.9.1
torch==1.13.1
torchvision==0.14.1
tqdm==4.61.2
transformers==4.9.2
