spring:
  security:
    oauth2:
      enabled: false
      client:
        provider:
          azure-ad:
            authorization-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/oauth2/v2.0/authorize
            token-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/oauth2/v2.0/token
            jwk-set-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/discovery/v2.0/keys
            photo-uri: https://graph.microsoft.com/v1.0/me/photo/$value
        registration:
          azure-client:
            provider: azure-ad
            client-id: ${MICROSOFT_PROVIDER_CLIENT_ID}
            client-secret: ${MICROSOFT_PROVIDER_AUTHENTICATION_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: ${MICROSOFT_RERIRECT_URL}
            ignore-uri: '/api/auth,/agent/connect'
            scope: 'https://graph.microsoft.com/User.Read'

app:
  # Mail Address Format
  default-user: ${DEFAULT_USER}
  storage:
    type: ${STORAGE_TYPE:AZURE} # current available options: LOCAL, AZURE
    blob:
      connection: ${BLOB_CONNECTION_STR:}
      CDNUrl: ${CDN_URL:}