spring:
  security:
    oauth2:
      client:
        provider:
          azure-ad:
            authorization-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/oauth2/v2.0/authorize
            token-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/oauth2/v2.0/token
            jwk-set-uri: https://login.microsoftonline.com/${MICROSOFT_PROVIDER_TENANT_ID}/discovery/v2.0/keys
        registration:
          azure-client:
            client-id: ${MICROSOFT_PROVIDER_CLIENT_ID}
            client-secret: ${MICROSOFT_PROVIDER_AUTHENTICATION_SECRET}

app:
  # Mail Address Format
  default-user: ${DEFAULT_USER}
  storage:
    type: AZURE # LOCAL, AZURE, ALICLOUD, etc.
    blob:
      connection: ${BLOB_CONNECTION_STR}
      CDNUrl: ${CDN_URL}